.page.theme_dark {
  --accent-color: #ff0070;
  --main-color: #000028;
  --second-color: #f1b2ce;
  --title-color: #db00ff;
  --main-background: url(../images/cover-image-dark.png);
}

.page.theme_dark .decorated-zone::before {
  border-color: var(--accent-color);
}

.page.theme_dark .decorated-zone::after {
  border-color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.page.theme_dark .title-decor {
  color: var(--main-color);
}

.page.theme_dark .section_title {
  color: var(--accent-color);
}

.page.theme_dark .paragraph_title {
  color: var(--main-color);
  background-color: var(--accent-color);
}