/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Переменные светлой темы */
  --accent-color: #FF8DCB;
  --main-font: 'IBM Plex mono';
  --normal-weight: normal;
  --bold-weight: bold;
  --main-color: #FFF1F7;
  --second-color: #353430;
  --title-color: #ffc2e6;
  --background-img: url(../images/cover-image-light.png);
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --main-font: 'IBM Plex mono';
    --normal-weight: normal;
    --bold-weight: bold;
    --main-color: #FFF1F7;
    --second-color: #353430;
    --title-color: #ffc2e6;
    --background-img: url(../images/cover-image-light.png);
  }

  .header {
    background-image: var(--background-img);
    background-position: center;
    background-size: cover;
  }
  
  .decorated-zone::before {
    border: 1px solid var(--second-color);
    border-bottom: none;
    border-left: none;
  }
  
  .decorated-zone::after {
    border: 1px solid var(--second-color);
    border-top: none;
    border-right: none;
  }
  
  .header__theme-menu-button_active {
    border: 1px solid var(--second-color);
  }
  
  .text__dark {
    display: none;
  }
  
  .title-decor {
    color: var(--second-color);
  }
  
  .header__theme-menu-button {
    color: var(--second-color);
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
  
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--second-color);
  }
  
  .section_title {
    color: var(--second-color);
  }
  
  .paragraph_title {
    color: var(--second-color);
  }
}
