.page.theme_light {
  --accent-color: #FF8DCB;
  --main-font: 'IBM Plex mono';
  --normal-weight: normal;
  --bold-weight: bold;
  --main-color: #FFF1F7;
  --second-color: #353430;
  --title-color: #ffc2e6;
  --background-img: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  .page {
    --accent-color: #FF8DCB;
    --main-font: 'IBM Plex mono';
    --normal-weight: normal;
    --bold-weight: bold;
    --main-color: #FFF1F7;
    --second-color: #353430;
    --title-color: #ffc2e6;
    --background-img: url(../images/cover-image-light.png);
  }

  .header {
    background-image: var(--background-img);
    background-position: center;
    background-size: cover;
  }

  .decorated-zone {
    position: relative;
  }
  
  .decorated-zone::before {
    content: " ";
    width: 25px;
    height: 25px;
    position: absolute;
    border: 1px solid var(--second-color);
    top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    border-bottom: none;
    border-left: none;
  }
  
  .decorated-zone::after {
    content: " ";
    width: 25px;
    height: 25px;
    position: absolute;
    border: 1px solid var(--second-color);
    bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    border-top: none;
    border-right: none;
  }
  
  .header__theme-menu-button_active {
    border: 1px solid var(--second-color);
  }
  
  .title-decor {
    color: var(--second-color);
  }
  
  .header__theme-menu-button {
    color: var(--second-color);
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
  
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--second-color);
  }
  
  .section_title {
    color: var(--second-color);
  }
  
  .paragraph_title {
    color: var(--second-color);
  }
}
